version: "3"
services:
  dev:
    build: 
      context: .
      dockerfile: Dockerfile
      
    restart: unless-stopped
    working_dir: /opt/work
    image: vsremotedocker:latest
    volumes:
      - /expt/data:/expt/data
      - vscode_remote_test:/opt/work
    ports:
      - "10898:9898"

volumes:
  vscode_remote_test: